<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is show page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <h1><p>This is a show page</p> </h1>
    <p> <a href="{% url 'addproduct'%}"><button class="add">Add Products</button></a></p>
   

    <table border="">
       
        {% if products %}
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Prodcut Details</th>
            <th>Product image</th>
            <th>Action</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{product.id}} </td>
            <td>{{product.product_name}} </td>
            <td>{{product.product_detail}}</td>
            <td><img class="image" src="/media/{{product.product_image}}" alt=""></td>
            <td>
                <a href="{% url 'update' product.id %}"><button>Update</button></a>
                <a href="{% url 'delete' product.id %}"><button>Delete</button></a>
            </td>
            </tr>
        {% endfor %}
        {% endif %}
        <tr>
            {% if messages %}
                {% for message in messages %}
                        <p class="text-dark">
                            * {{message}}
                        </p>
                {% endfor %}
            {% endif %}
        </tr>
    </table>
    
</body> 
</html>